<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC 
	"-//mybatis.org//DTD Config 3.0//EN" 
	"https://mybatis.org/dtd/mybatis-3-config.dtd">
	
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="false" />
		<setting name="mapUnderscoreToCamelCase" value="false" />
	</settings>	
	
	<!-- 자주 사용하는 특정 클래스에 별칭을 부여하여 짧은 이름으로 사용하게 하는 설정 -->
	<typeAliases>
		<typeAlias type="com.itbank.model.MemberDTO" alias="member" />
		<typeAlias type="com.itbank.model.BoardDTO" alias="board" />
		<typeAlias type="com.itbank.model.ReplyDTO" alias="reply" />
	</typeAliases>
	
</configuration>